flows/Deadline_Manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>Calculated_Deadline</name>
        <dataType>DateTime</dataType>
        <expression>IF( {!Deadline_Days}&gt;0,DATETIMEVALUE(DATE(YEAR(DATEVALUE({!$Flow.CurrentDateTime})), MONTH(DATEVALUE({!$Flow.CurrentDateTime})), DAY(DATEVALUE({!$Flow.CurrentDateTime})))) +{!Deadline_Days}, {!Deadline_DateTime})</expression>
    </formulas>
    <interviewLabel>Deadline Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deadline Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Deadline</name>
        <label>Create Deadline</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Pause_Stage_Deadline</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_Record__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline_Date__c</field>
            <value>
                <elementReference>Calculated_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deadline_Offset__c</field>
            <value>
                <elementReference>Deadline_Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GUID__c</field>
            <value>
                <elementReference>GUID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Reffered_to_Stage__c</field>
            <value>
                <elementReference>IsRefferedToStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notification_Type__c</field>
            <value>
                <elementReference>NotificationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offset_Unit__c</field>
            <value>
                <stringValue>Days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overdue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceiverUser__c</field>
            <value>
                <elementReference>ReceiverUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_To__c</field>
            <value>
                <elementReference>ReferredToDeadline</elementReference>
            </value>
        </inputAssignments>
        <object>Deadline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Deadline</name>
        <label>Update Deadline</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Deadline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overdue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Released_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Deadline__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Deadline_Event</name>
        <label>Update Deadline Event</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Deadline</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overdue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Released_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Deadline__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Deadline</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Include the deadline as a date/time value</description>
        <name>Deadline_DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Deadline (in days)
NOTE: Only one of Deadline_Datetime or Deadline_Days may be included.</description>
        <name>Deadline_Days</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>GUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Include if the deadline is referred to a stage (True) or to a specific step (False)</description>
        <name>IsRefferedToStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The following values are allowed: INAPP, SLACK, EMAIL, FLOW</description>
        <name>NotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Notification to User&apos;s manager</description>
        <name>NotifyManager</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User that will receive the notification (include the User ID)</description>
        <name>ReceiverUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordId that deadline is related to</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Include the name of the step or stage that the deadline is referred to</description>
        <name>ReferredToDeadline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_Stage_Deadline</name>
        <label>Pause Stage Deadline</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_before_deadline</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Deadline_Event</targetReference>
            </connector>
            <eventType>DeadlineResume__e</eventType>
            <inputParameters>
                <name>Deadline_ID__c</name>
                <value>
                    <elementReference>Create_Deadline</elementReference>
                </value>
            </inputParameters>
            <label>Pause before deadline</label>
        </waitEvents>
        <waitEvents>
            <name>Pause_until_DateTime</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Deadline</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Deadline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Deadline_Date__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>Create_Deadline</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>Pause until DateTime</label>
        </waitEvents>
    </waits>
</Flow>
