flows/DLN_Flow_Orchestrator_Starter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Start_Orchestration</name>
        <label>Start Orchestration</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>DLN_Start_Enrollment_Orchestration</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AssigneeID</name>
            <value>
                <elementReference>Assignee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Deadline_Date</name>
            <value>
                <elementReference>Desired_Deadline_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Deadline_Days</name>
            <value>
                <elementReference>Number_of_Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NotificationType</name>
            <value>
                <elementReference>Notification_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TrainingID</name>
            <value>
                <elementReference>TrainingID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>AssigneeID</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NotificationTypeChoiceset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Notification_Type__c</picklistField>
        <picklistObject>Deadline__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrainingChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>DLN_Training__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>DLN_Flow_Orchestrator_Starter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLN_Flow_Orchestrator_Starter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>General_Data</name>
        <label>General Data</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Start_Orchestration</targetReference>
        </connector>
        <fields>
            <name>Txt_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Hello {!$User.FirstName}!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This is a test flow to start a new Enrollment Orchestration so you can test how it goes. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TrainingID</name>
            <choiceReferences>TrainingChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Desired Training</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assignee</name>
            <choiceReferences>AssigneeID</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assignee</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Desired_Deadline_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <dateTimeValue>1998-12-31T23:00:00.000Z</dateTimeValue>
            </defaultValue>
            <fieldText>Desired Deadline Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Days</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Number of Days</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Notification_Type</name>
            <choiceReferences>NotificationTypeChoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Notification Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Txt_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;A new orchestration has been triggered so you can test how deadlines work.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>General_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
