flows/DLN_Create_Enrollment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Enrollment_ID</name>
        <label>Assign Enrollment ID</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>EnrollmentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Enrollment</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>DLN_Create Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DLN_Create Enrollment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment</name>
        <label>Create Enrollment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Manager_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trainee__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Date__c</field>
            <value>
                <elementReference>Training_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training__c</field>
            <value>
                <elementReference>Get_Training.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DLN_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Training</name>
        <label>Get Training</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DLN_Training__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Manager_Approval</name>
        <label>Manager Approval</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Enrollment_ID</targetReference>
        </connector>
        <fields>
            <name>Txt2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;You will receive a notification when your manager confirm the request.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Date</name>
        <label>Select Date</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Enrollment</targetReference>
        </connector>
        <fields>
            <name>Txt1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please, select the desires date for &lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;{!Get_Training.Name} &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;training.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Training.Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Training_Date</name>
            <dataType>Date</dataType>
            <fieldText>Training Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Training</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnrollmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
