flows/Notifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Message_to_Manager</name>
        <label>Message to Manager</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>MessageManagerSlack</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Get_Message_Dest_Manager.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Associated_Record__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Message_to_User</name>
        <label>Message to User</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_to_Manager</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>BodyInApp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Get_Message_Dest_User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Associated_Record__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>DeadlineOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyInApp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubjectInApp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UserIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Associated_Record__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Names</name>
        <label>Assign Names</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReceiverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiverUser__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiverUser__r.Manager.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Message_Dest_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Names_0</name>
        <label>Assign Names</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReceiverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiverUser__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiverUser__r.Manager.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Names_0_0</name>
        <label>Assign Names</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ReceiverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiverUser__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiverUser__r.Manager.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Owner_Email</name>
        <label>Owner Email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>DeadlineOwnerEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReceiverUser__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>User_ID</name>
        <label>User ID</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>UserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ReceiverUser__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Notification_Channel</name>
        <label>Notification Channel</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Assign_Names_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bell</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMAIL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Names_0</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Slack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notification_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLACK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Names</targetReference>
            </connector>
            <label>Slack</label>
        </rules>
    </decisions>
    <formulas>
        <name>AssociatedRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) &amp; {!$Record.Associated_Record__c}</expression>
    </formulas>
    <formulas>
        <name>BodyInApp</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Is_Reffered_to_Stage__c}, &apos;Hi &apos; &amp; {!ReceiverName} &amp;&apos;. There is an overdue deadline for the &apos; &amp; {!$Record.Referred_To__c} &amp; &apos; of the associated record.&apos;, &apos;Hi &apos; &amp; {!ReceiverName} &amp;&apos;. There is an overdue deadline for the &apos; &amp; {!$Record.Referred_To__c} &amp; &apos; of the associated record.&apos;)</expression>
    </formulas>
    <formulas>
        <name>MessageManagerSlack</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Is_Reffered_to_Stage__c}, &apos;Hi &apos; &amp;  {!ManagerName} &amp;&apos;. &apos; &amp;  {!ReceiverName} &amp; &apos; has an overdue deadline for the &apos; &amp; {!$Record.Referred_To__c} &amp; &apos; of the associated record.&apos;, &apos;Hi &apos; &amp;  {!ManagerName} &amp;&apos;. &apos; &amp;  {!ReceiverName} &amp; &apos; has an overdue deadline for the &apos; &amp; {!$Record.Referred_To__c} &amp; &apos; of the associated record.&apos;)</expression>
    </formulas>
    <formulas>
        <name>RelatedText</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Is_Reffered_to_Stage__c},&apos;Related Stage: &apos; &amp; {!$Record.Referred_To__c} ,&apos;Related Step: &apos; &amp;{!$Record.Referred_To__c})</expression>
    </formulas>
    <formulas>
        <name>SubjectInApp</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Is_Reffered_to_Stage__c}, &apos;Overdue deadline for the Stage &apos; &amp; {!$Record.Referred_To__c}, &apos;Overdue deadline for the step &apos; &amp; {!$Record.Referred_To__c})</expression>
    </formulas>
    <interviewLabel>Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Message_Dest_Manager</name>
        <label>Get Message Manager</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Message_to_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message to Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Message_Dest_User</name>
        <label>Get Message User</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Message_Dest_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message to User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification</name>
        <label>Get Notification</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task_Overdue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notification_Channel</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Overdue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Deadline__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ReceiverName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have an overdue deadline&lt;/span&gt;. Please, find the associated record below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!AssociatedRecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!AssociatedRecordLink}&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!RelatedText}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Many thanks,&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DeadlineOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageUserSlack</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubjectMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>A new deadline has been triggered</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
